<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cdss">
        <activity
            android:name=".StaffDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StaffLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleReassessmentActivity"
            android:exported="false" />
        <activity
            android:name=".TherapyRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".DeviceSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".OxygenRequirementActivity"
            android:exported="false" />
        <activity
            android:name=".HypoxemiaCauseActivity"
            android:exported="false" />
        <activity
            android:name=".TrendAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".AIAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".UrgentActionActivity"
            android:exported="false" />
        <activity
            android:name=".NIVRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".EscalationCriteriaActivity"
            android:exported="false" />
        <activity
            android:name=".ABGTrendsActivity"
            android:exported="false" />
        <activity
            android:name=".OxygenActivity"
            android:exported="false" />
        <activity
            android:name=".PatientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HelpSupportActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ClinicalGuidelinesActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AlertsActivity"
            android:exported="false" />
        <activity
            android:name=".PatientListActivity"
            android:exported="false" />
        <activity
            android:name=".DoctordashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AIActivity"
            android:exported="false" />
        <activity
            android:name=".RoleActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
    </application>

</manifest>